<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>VIP特权 - 空间</title>
<link rel="stylesheet" href="view/qf_default/vip/style.css" type="text/css" media="screen">
<script type="text/javascript" src="source/script/js/qzfl_lite.js"></script>
<script type="text/javascript" src="view/qf_default/vip/json2.js"></script>
<script type="text/javascript" src="view/qf_default/vip/mini_portal.js"></script>

<style type="text/css">
	.main .pro_1 .time{
		left:59px;
		top:113px;
		width:216px;
		text-align:center;
		position:absolute;
	}
	
	body{
		overflow: hidden;
	}
	
	html{ 
		overflow: hidden;
	}
</style>

</head>
<body>
<div class="main">	
	<div class="pro_1" id="packageYearVip" style="display:none;">
		<script type="text/html" id="packageYearVipTemp">
			<div class="picl"><img src="<%=vipImg%>" alt=""></div>
			<div class="picr"><img src="<%=yearVipImg%>" alt=""></div>
			<% if( activityTime ) { %>
				<div class="time">时间：<%=activityTime%></div>
			<% } %>
			<button type="button" class="bt_get" id="receiveButton"><span class="none">领取</span></button>
		</script>
	</div>
	
	<div class="pro_2" id="packageVip" style="display:none;">
		<script type="text/html" id="packageVipTemp">
			<div class="picl"><img src="<%=vipImg%>" alt=""></div>
			<div class="picr"><img src="<%=noYearVipImg%>" alt=""></div>
			<% if( activityTime ) { %>
				<div class="time">时间：<%=activityTime%></div>
			<% } %>
			<button type="button" class="bt_get" id="receiveButton"><span class="none">领取</span></button>
			<a href="http://pay.qq.com/qzone/index.shtml?aid=app.nnop" target="_blank" class="bt_openy"><strong class="none">开通年费VIP</strong></a>
		</script>
	</div>
	
	<div class="pro_3" id="packageNoVip" style="display:none;">
		<script type="text/html" id="packageNoVipTemp">
			<div class="picc"><img src="<%=noVipImg%>" alt=""></div>
			<% if( ownerInfo.level > 0 ) { %>
				<a href="tools.php?mod=vip" target="_blank" class="bt_open"><strong class="none">开通VIP</strong></a>
			<% } else { %>
				<a href="tools.php?mod=vip" target="_blank" class="bt_open"><strong class="none">开通VIP</strong></a>
			<% } %>
		</script>
	</div>
	
	<div class="pro_4" id="packageReceived" style="display:none;">
		<strong class="none">今日礼包已领取 请期待明日礼包</strong>
	</div>
	
	<div class="pro_4" id="packageReceiveLoad" style="display:none;">
		<div style="position:absolute;left:138px;top:55px;color:#787570; width:235px;height:40px;font-size:16px;line-height:40px;background-color:#fefdf8;font-weight:bold;text-align:center;">处理中,请稍后</div>
		<strong class="none">处理中,请稍后</strong>
	</div>
	
	<div class="vipp1" id="privilegesInfo">
		<script type="text/html" id="privilegesInfoTemp">
			<% if( ownerInfo.vip ) { %>
				<h2>我在该应用的特权：</h2>
			<% } else { %>
				<h2>VIP在该应用的特权：</h2>
			<% } %>	
			<div class="list">
				<div class="item"><a href="tools.php?mod=vip" target="_blank">专享每日礼包</a></div>
				<div class="item"><a href="tools.php?mod=vip" target="_blank">全场物品8折优惠</a></div>
				<div class="item"><a href="tools.php?mod=vip" target="_blank">LV4以上农场装饰免费用</a></div>
			</div>
		</script>
		
	</div>	

	<!--广告位-->
	<div class="vipp2" id="broadcastInfo" style="display:none;">
		<script type="text/html" id="broadcastInfoTemp">
			<div class="list">
				<div class="item">
					
				</div>
				<div class="item">
					
				</div>
			</div>
			
		</script>
		
	</div>  

</div>

<br>
</body>
</html>
