<!--{tpl inc_header}-->

<div id="main">
	<!--{tpl tools/market_menu}-->
	<!--{if $tools}-->
	<table class="list">
		<tr>
			<th width="40">Id</th>
			<th width="100">名字</th>
			<th width="70">样式</th>
			<th width="40">等级</th>
			<th width="100">牧场售价</th>
			<th width="100">数量</th>
			<th width="100">出售单价</th>
			<th width="100">执行操作</th>
		</tr>
		<!--{foreach $tools as $key => $value}-->
		<tr style=" font-size:12px; height:20px">
			<td>{:$key}</td>
			<td>{:$toolstype[$key]['name']}</td>
			<td><img src="module/mc/farm/icon/t{:$key}.png"/></td>
			<td>-</td>
			<td><font color=blue>{:$toolstype[$key]['qdprice']*50}</font> 金币</td>
			<td><input type='text' id='number{:$key}' size='10' value="{:$value}"/></td>
			<td><input type='text' id='price{:$key}' size='15' value="{:$toolstype[$key]['qdprice']*50}"/></td>
			<td>
				<input type="button" onclick='request("tools.php?mod=market&act=mc&type=saleitem&mclass=5&cid={:$key}&number="+$("#number{:$key}").value+"&price="+$("#price{:$key}").value, "state{:$key}");' value='出售' /><span id="state{:$key}"></span>
			</td>
		</tr>
		<!--{/foreach}-->
	</table>
	<div id="pages" class="multiPage"></div>
	<!--{else}-->
	<div class="no_hpinfo">没有物品信息！</div>
	<!--{/if}-->
</div>

<!--{tpl inc_footer}-->
