<!--{tpl inc_header}-->

<div id="main">
	<!--{tpl tools/market_menu}-->
	<!--{if $fruit}-->
	<table class="list">
		<tr>
			<th width="40">Id</th>
			<th width="100">名字</th>
			<th width="70">样式</th>
			<th width="40">等级</th>
			<th width="100">农场售价</th>
			<th width="100">数量</th>
			<th width="100">出售单价</th>
			<th width="100">执行操作</th>
		</tr>
		<!--{foreach $fruit as $key => $value}-->
		<tr>
			<td>{:$key}</td>
			<td>{:$cropstype[$key]['cName']}</td>
			<td><img src="module/ui/farm/icon/{:$key}.png" height="24px" /></td>
			<td>{:$cropstype[$key]['cLevel']}</td>
			<td><font color="ff0000">{:$cropstype[$key]['sale']}</font>金币</td>
			<td><input type='text' id='number{:$key}' size='10' value="{:$value}"/></td>
			<td><input type='text' id='price{:$key}' size='15' value="{:$cropstype[$key]['sale']}"/></td>
			<td>
				<input type="button" onclick='request("tools.php?mod=market&act=nc&type=saleitem&mclass=3&cid={:$key}&number="+$("#number{:$key}").value+"&price="+$("#price{:$key}").value, "state{:$key}");' value='出售' /><span id="state{:$key}"></span>
			</td>
		</tr>
		<!--{/foreach}-->
	</table>
	<div id="pages" class="multiPage"></div>
	<!--{else}-->
	<div class="no_hpinfo">仓库里没有产品！</div>
	<!--{/if}-->
</div>

<!--{tpl inc_footer}-->
