<div class="menu">
	<!--{php $active[$mod_name.'_'.$type] = ' class="active"';}-->
	<a{:$active[market_nc_index]} href="tools.php?mod=market&act=nc&type=index">农场市场</a>
	<a{:$active[market_nc_myitem]} href="tools.php?mod=market&act=nc&type=myitem">农场物品</a>
	<a{:$active[market_nc_myproduct]} href="tools.php?mod=market&act=nc&type=myproduct">农场产品</a>
	<a{:$active[market_mc_index]} href="tools.php?mod=market&act=mc&type=index">牧场市场</a>
	<a{:$active[market_mc_myitem]} href="tools.php?mod=market&act=mc&type=myitem">牧场物品</a>
	<a{:$active[market_mc_myproduct]} href="tools.php?mod=market&act=mc&type=myproduct">牧场产品</a>
</div>