<!--{tpl admin/inc_header}-->

<!--{if $user_list}-->
<table class="list">
	<tr style=" font-size:12px; height:20px">
		<th>用户名(UID)</th>
		<th>元宝数量</th>
		<th>金币数量</th>
		<th>VIP经验</th>
		<th>VIP级别</th>
		<th>农田</th>
		<th>红地</th>
		<th>黑地</th>
		<th>农场级别</th>
		<th>牧场级别</th>
		<th>最后登陆时间</th>
		<th>执行操作</th>
	</tr>
	<!--{foreach $user_list as $key=>$value}-->
	<tr style=" font-size:12px; height:20px">
		<td>{:$value[username]}({:$value[uid]})</td>
		<td>{:$value[yb]}</td>
		<td>{:$value[money]}</td>
		<td>{:$value[vip][exp]}</td>
		<td>{:$value[vip][level]}级</td>
		<td>{:$value[reclaim]}</td>
		<td>{:$value[redland]}</td>
		<td>{:(int)$value[black][number]}</td>
		<td>{:$value[level_nc]}级</td>
		<td>{:$value[level_mc]}级</td>
		<td>{:$value[visittime]}</td>
		<td>
			<a href="admin.php?mod=user_edit&id={:$value[uid]}">编辑</a>&nbsp;
			<a href='javascript:delUser("{:$value[uid]}","确定要删除 {:$value[username]} 的农牧场吗?");'>删除</a>
		</td>
	</tr>
	<!--{/foreach}-->
</table>
<div id="pages" class="multiPage"></div>
<!--{else}-->
<div class="no_hpinfo">暂时没有用户信息！</div>
<!--{/if}-->

<script type="text/javascript">
	$('#pages').innerHTML = multiPage({pid:"{:$pid}",purl:"{:$purl}",psize:"{:$psize}",count:"{:$count}"});
	function delUser(uid, msg) {
		if(confirm(msg)) {
			request(
				'admin.php?mod=user_delete&id='+uid, null, null, 
				function(data){ alert(data[1]); }
			);
		}
	}
</script>

<!--{tpl admin/inc_footer}-->